.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 40px;
    width: 80px;
    margin-inline-end: 10px;
    /* animation: App-logo-spin infinite 20s linear; */
  }
  .nav-btn-contact{
    align-items:flex-start;
      }

}

.App-header {
  /* background-color: #dee7df; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-btn-contact{
  right: 10px;
  position: absolute;
}
